*{
    margin: 0;
    padding: 0;
}



#green-space{
    background-color: #128C7E;
    height: 10vh;
    width: 100%;
}


.center{
    padding: 2em;
    display: flex;
    align-items: center;
    justify-content: center;

}


h1{
    color: rgb(102, 97, 97);
}

table{
    border-collapse: collapse;
}

table, th, td{
    border: 4px solid black;
}